{% extends 'base.html' %}
{% load static %}
{% load contact_tags %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container  mt-3">

  <div class="row  ">

<div class="col-lg-8  ">

{% for i in posts %}

    <div class="card w-76 mb-3 ">


        <div class="card-body">
 <div class="card-title">
      <p><h3> <strong> <a class="text-dark text-lg-left" href="news/{{ i.id }}">{{ i.name }}</a></strong></h3>
    </div>
        <h7 class="card-subtitle mb-2 text-muted">{{ i.updated }}</h7>
{% autoescape off %}

    <p class="text-dark text-lg-left">  {{ i.text }}<a class="text-dark " href="news/{{ i.id }}#anchor">Перейти к комментариям</a></p>

     {% endautoescape %}

<div class="ya-share2" data-curtain data-shape="round"  data-title="{{ post.name }}" data-url="http://127.0.0.1:8000/news/{{ i.id }}" data-services="collections,vkontakte,facebook,odnoklassniki,messenger,telegram" ></div>







    <br>

    </div>
    </div>



{% endfor %}
</div>

<div class="col-lg-4">

<div class="card-inline ">
<div class=" card bg-light mb-3 " style="height: 10rem;">
<p class="text-center"> Подпишись на рассылку чтобы первым получать новости</p>
<br>
    <form method="post" class="form-inline-auto">
    {% csrf_token %}
    <div class="row">
<div class=" col-8 offset-1 ">
{{ form.email}}

</div>
<div class="px-md-1">
    <button type="submit" class="btn btn-success">&#10148;</button>
</div>
    </div>




    </form>

</div>

<div class="card-header">
    На странице
</div>
        {% for i in posts %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">  <a class="text-dark text-xl-left" href="news/{{ i.id }}"> {{ i.name }}  </a>  <br>{{ i.updated }}</li>

</ul>

    {% endfor %}

</div>
    </div>
  </div>
<br>
<div class="row justify-content-lg-center ">
<nav aria-label="..." class="align-items-end">
  <ul class="pagination pagination-md offset-2">
 <li class="page-item ">

    {% if posts.number != 1 %}
     <a class="page-link" tabindex="-1" aria-label="Previous" href="?page=1">
         <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Начало</span>
     </a>
    {% endif %}
 </li>

    {% for i in posts.paginator %}

        {% if i.number == posts.number %}

           <li class="page-item active">
      <a class="page-link" href="?page={{i.number}}">{{ i.number }} <span class="sr-only">(current)</span></a>
    </li>



  {% elif i.number > posts.number|add:-4 and i.number < posts.number|add:4 %}

      <li class="page-item"> <a class="page-link" href="?page={{i.number}}">{{ i.number }}</a></li>

       {% endif %}




         {% endfor %}



 <li class="page-item">
{% if posts.number != posts.paginator.num_pages %}
    <a class="page-link" aria-label="Next" href="?page={{posts.paginator.num_pages}}">
    <span aria-hidden="true">&raquo;</span>

    </a>


{% endif %}
 </li>
</ul>
</nav>
</div>
</div>
<script type="text/javascript">
    $(function(){
        window.setTimeout(function(){
            $('#my_alert').alert('close');
        },5000);
    });
</script>



</body>
</html>
{% endblock %}